:root {
  --orenge: #e76f51;
  --secondary-color:#FBE1DB ;
  --white: #fff;
  --gray: #d2d2d2;
  --dark: #3b3735;
  --primary-font:"roboto", sans-serif, Arial, Helvetica;
  --primary-font-md:"roboto Medium", sans-serif, Arial, Helvetica;
  --secondary-font:"Archivo Black", sans-serif, Arial, Helvetica;
  --app-bg:#FAF4F2;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10rem*/
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  line-height: 1.6;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  background-color: var(--app-bg);
}
/*reset styls*/
a {
  text-decoration: none;
}
/*component*/
.btn {
  width: 18rem;
  height: 5rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10rem;
  cursor: pointer;
  color: var(--white);
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "roboto Medium";
}

/*app style*/
.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../public/images/header-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height:85vh;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 4rem;
}
.app-logo_img {
  width: 100%;
  height: 100%;
}
/*main menu*/
.menu {
  display: none;
}
.menu__item {
  margin-right: 1.5rem;
}
.menu__link {
  color: var(--gray);
  transition: color 100ms ease-in;
}
.menu__link--active {
  color: var(--white);
  position: relative;
  z-index: 1;
}
.menu__link--active::before {
  position: absolute;
  content: "";
  top: 7px;
  width: 4rem;
  height: 0.3rem;
  border-radius: 10rem;
  background-color: var(--orenge);
  transform: rotate(45deg);
  z-index: -1;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.menu__link:hover {
  color: var(--white);
}
.nav-menu {
  position: fixed;
  background-color: var(--dark);
  top: 0;
  left: -25rem;
  bottom: 0;
  width: 25rem;
  padding: 2.5rem;
  transition: all 250ms ease-in-out;
}
.nav-menu--open {
  left: 0;
}
.nav-menu__title{
  color: var(--white);
  font-family: "Archivo Black";
  font-size: 1.9rem;
  border-bottom: 1px solid var(--white);
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

/*mobile menu*/
.mobile-menu {
  margin-bottom: 3rem;
}
.mobile-menu__item {
  margin-bottom: 1rem;
}
.mobile-menu__link {
  color: var(--white);
  position: relative;
  transition: all 250ms ease-in-out;
}
.mobile-menu__link::before{
content: '';
position: absolute;
left: 0;
top: 0;
bottom: 0;
margin: auto;
width: 0;
height: 0.3rem;
background-color: var(--orenge);
border-radius: 5rem;
transition: all 250ms ease-in-out;
}
.mobile-menu__link:hover{
  padding-left: 2.2rem;
}
.mobile-menu__link:hover::before{
  width: 1.6rem;
}
.nav-menu__links {
  display: flex;
}
.nav-menu_link {
  color: var(--white);
  border: 1px solid var(--white);
  display: block;
  padding: 1rem;
  flex-basis: 50%;
  text-align: center;
  transition: all 100ms ease-in;
}
.nav-menu_link:hover{
  background-color: var(--white);
  color: var(--dark);
}
.nav-menu_link--border {
}
/*header link*/
.nav__links {
  display: none;
}
.nav_link {
  color: var(--white);
  font-family: "roboto Medium";
  margin-left: 1.5rem;
  /* height:5.5rem; */
}
.nav_link--border {
  border: 1px solid var(--white);
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  transition: all 150ms ease-in;
}
.nav_link--border:hover {
  background-color: var(--white);
  color: var(--dark);
}
/*nav btn hamberger*/
.nav__btn {
  background-color: #fff;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__btn-line {
  display: block;
  width: 3rem;
  border-radius: 2rem;
  height: 0.3rem;
  background-color: var(--orenge);
  position: relative;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  border-radius: 2rem;
  height: 0.3rem;
  background-color: var(--orenge);
  transition: all 200ms ease-in-out;
}
.nav__btn-line::before {
  top: -0.8rem;
}
.nav__btn-line::after {
  top: 0.8rem;
}
.nav__btn--open .nav__btn-line {
  background-color: transparent;
}
.nav__btn--open .nav__btn-line::after {
  transform: translateY(-8px) rotate(-45deg);
}
.nav__btn--open .nav__btn-line::before {
  transform: translateY(8px) rotate(45deg);
}
/*header content*/
.header-content {
  text-align: center;
  color: var(--white);
  margin-top: 6rem;
}
.header-content__title {
    font-family: "Archivo Black";
    font-size: 4.5rem;
    line-height: 1.2;
    max-width: 31rem;
    margin: 0 auto 3rem auto;
}
.heder-content__caption {
    font-size: 1.8rem;
    max-width: 34rem;
    margin: 0 auto 2rem auto;
}
.heder-content__link{
background-color:var(--orenge);

}
/*main*/
.main{

}
/*services*/
.services{
  margin-top: -13rem;
   display: flex;
  flex-wrap: wrap; 
  /* gap:1rem; */
  margin-right: -1rem;
  margin-left: -1rem;
}
.service{
  flex-grow: 1;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 32rem;
  background-color: var(--white);
  min-height: 26rem;
  /*min-width: 26rem;*/
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
color: var(--dark);
}
.service_img{
display: block;
}
.service_title{
font-family: var(--secondary-font);
font-size: 1.8rem;
margin: 1.5rem 0 0.6rem 0;
}
.service_caption{

}
/*destination*/

.destinations{
  padding: 6rem 0;
  text-align: center;
}
.destinatin__log{
  width: 8rem;
  height: 8rem;
}
.destination__title{
  max-width: 38rem;
  font-size: 3rem;
  margin: 3rem auto;
  font-family: var(--secondary-font);
}

.destination_places{
   display: flex;
  /* flex-direction: column;  */
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.place{    
  width: 30rem;
  flex-grow: 1;
  color: var(--dark);
  background-color: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  color: var(--dark);
  margin-right: 1rem;
  margin-left: 1rem;
}
.place__banner{
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  height: 18rem;
}
.place__img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.place__like{
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  top: 1.5rem;
  right: 1.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  cursor: pointer;
}
.place__like-icon{

}
.plece__price{
  background-color: var(--white);
  position: absolute;
  bottom: -0.8rem;
  font-family: var(--primary-font-md);
  color: var(--orenge);
  padding: 0.5rem 2rem;
  text-align: center;
  width: 12rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 1rem;
}
.place__price-text{}
.place__title{
  font-family: var(--secondary-font);
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.place__caption{
  margin-bottom: 3rem;
}
.place__link{
  color:#8D8D8D ;
  background-color: rgba(141, 141, 141, 0.1);
}
.destination__btn{
  color: var(--orenge);
  border: 1px solid var(--orenge);
  background-color: transparent;
  transition: all 100ms ease-in;
  margin-top: 3rem;
}
.destination__btn:hover{
  color: var(--app-bg);
  background-color: var(--orenge);
}

/*newaletter*/
.newsletter{
background-color: var(--secondary-color);
border-radius: 2rem;
color: var(--dark);
text-align: center;
padding: 3rem 2rem;
display: flex;
flex-direction: column-reverse;
margin: 6rem 0;
}
.newsletter__content{
/* display: flex; */
}
.newsletter__title{
font-family: var(--secondary-font);
font-size: 3rem;
margin: 1.5rem auto;
line-height: 1.2;
}
.newsletter__caption{
font-family: var(--primary-font-md);
}
.newsletter__email-box{
background-color: var(--white);
position: relative;
height: 7rem;
padding: 0 1.5rem;
border-radius: 2rem;
margin-top: 2rem;
}
.newsletter__email-icon{
flex-shrink: 0;
}
.newsletter__form{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter__input{
outline: none;
border: none;
height: 100%;
width: 100%;
color: #8D8D8D;
padding: 0 1rem;
font-size: 1.6rem;
}
.newsletter__submit{
outline: none;
border: none;
background-color: var(--orenge);
width: 5rem;
height: 5rem;
border-radius: 2rem;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.newsletter__banner{

}
.newsletter__img{
width: 100%;
}