:root{
    --orenge:#E76F51
}
html{
    box-sizing: border-box;
    font-size: 62.5%;/*10rem*/
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-family: 'roboto';
    font-size: 1.6rem;
}
/*reset styls*/
a{
    text-decoration: none;
}

/*app style*/
.header{
    background: linear-gradient(rgba(59,55,53,0.5),rgba(59,55,53,0.5)) ,url(../public/images/header-bg.jpg);
    background-position: center;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.app-logo{
    display: block;
    width: 5.5rem;
    height: 5.5rem;
}
.app-logo_img{
    width: 100%;
    height: 100%;
}
.menu{
display: none;
}
.menu__item{
    
}
.menu__link{
    
}
.nav-menu{
    display: none;
}
.mobile-menu{
    
}
.mobile-menu__item{
    
}
.mobile-menu__link{
    
}
.nav-menu__links{
    
}
.nav-menu_link{
    
}
.nav-menu_link--border{
    
}
.header__links{
    display: none;
}
.header_link{
    
}
.header_link--border{
    
}
.nav__btn{
   background-color: #fff;
    width: 5.5rem;
    height: 5.5rem;
    border-radius:2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__btn-line{
    display: block;
    width: 3rem;
    border-radius: 2rem;
    height: 0.3rem;
    background-color: var(--orenge);
    position: relative;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.nav__btn-line::before,
.nav__btn-line::after{
content: '';
position: absolute;
width: 3rem;
border-radius: 2rem;
height: 0.3rem;
background-color: var(--orenge);
transition: all 250ms ease-in-out;
}
.nav__btn-line::before{
top:-0.8rem
}
.nav__btn-line::after{
    top:0.8rem
}
.nav__btn--open{
    
}